<div class="container">

    <h3 class="d-flex justify-content-center"><strong>Novigo Solutions</strong></h3>
    <h5 class="d-flex justify-content-center">Employee Management Portal</h5>

    <app-app-navbar></app-app-navbar>

      
    <router-outlet class="bodyElement"></router-outlet>
      <br>

    <footer class="d-flex justify-content-center sticky-bottom "  id="footer">
      All rights &copy; reserved by xyz company Pvt Ltd
    </footer>
</div>

<app-spinner></app-spinner>
<app-confirm-dialog></app-confirm-dialog>